<h1>Eat a burger</h1>

<h2>Devour the burger</h2>

<ul>
    {{#each burgers}} {{#unless this.devoured}}
    <div>
        <form action="/burgers/{{this.id}}" method="POST">
            <button type="submit">{{this.burger_name}}</button>
        </form>
    </div>
    {{/unless}} {{/each}}
</ul>

<h2>Burgers you have ate.</h2>

<ul>
    {{#each burgers}} {{#if this.devoured}}
    <div>
        <div>
            {{this.burger_name}}
        </div>
    </div>
    {{/if}} {{/each}}
</ul>

<h2>Add a Burger</h2>
<form action="/burgers" method="POST">

    <div class="form-group">
        <label>Burger Name</label>
        <input type="text" id="name" name="burger_name">
    </div>

    <button type="submit">Add Burger</button>
</form>